@using Checkmarkdown.Core.Elements;
@using Checkmarkdown.Web

@inherits RazorLight.TemplatePage<Item>;
@model Item;

@{ var tagName = Model.IsHeading ? "section" : "article"; }

<@tagName @Model.HtmlAttributes()>
    <header>
        @if (Model.IsCheckItem) {
            <div class="@this.Cmd("checkbox")"><input type="checkbox" id="@Model.GlobalId"/></div>
        }
        <div class="@this.Cmd("title")">
            @{ await IncludeAsync("element.cshtml", Model.Title); }
        </div>
    </header>
    @if (Model.Content.Any()) {
        <div class="@this.Cmd("content")">
            @{ await IncludeAsync("elements.cshtml", Model.Content); }
        </div>
    }
</@tagName>
